body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea , select{
  box-shadow: none !important;
}


.Registration textarea {
  width: 500px;
  min-height: 360px !important;
}

 table td:nth-child(1){
  min-width: fit-content !important;
  background-color: rgb(124, 245, 124);
}

